<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Información del proyecto</h2>
  <br/>
  <p><b>Argumentos de entrada: </b>{{info.arguments}}</p>
  <p><b>Nombre de la plataforma (sistema operativo): </b>{{info.platform}}</p>
  <p><b>Version de node.js: </b>{{info.version}}</p>
  <p><b>Memoria total reservada (rss): </b>{{info.memory}}</p>
  <p><b>Path de ejecución: </b>{{info.path}}</p>
  <p><b>Process id: </b>{{info.id}}</p>
  <p><b>Carpeta del proyecto: </b>{{info.folder}}</p>
  <p><b>Número de procesadores</b>: </b>{{info.numCPUs}}</p>
  <br/>
</div>